<h1>Lista szczepionek</h1>
<table *ngIf="szczepionki">
  <tr><th>Id</th><th>Nazwa</th><th>Detale</th></tr>
  <tr *ngFor="let szczepionka of szczepionki">
    <td>{{szczepionka.id}}</td>
    <td>{{szczepionka.name}}</td>
    <td><a [routerLink]="['/detale', szczepionka.id]">wiecej</a>
      <app-minidetal [cena]="szczepionka.details.price"></app-minidetal>
    </td>
  </tr>
</table>

<h3 *ngIf="!szczepionki">Właśnie ładuję szczepionki...</h3>
<p>
<a [routerLink]="['/list', 'addform']" >Zapisz się(ADD)</a> - <a [routerLink]="['/list', 'fulllist']" >Lista ludzi i operacji</a>
</p>
<router-outlet></router-outlet>
