* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border: 1px solid #aaa;
}

td, th, caption {
  padding: 0.5rem;
}

caption {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-bottom-width: 0;
  font-weight: 600;
}
