<h1>Lista szczepionek</h1>
<table *ngIf="szczepionki">
  <tr><th>Id</th><th>Nazwa</th><th>Detale</th></tr>
  <tr *ngFor="let szczepionka of szczepionki">
    <td>{{szczepionka.id}}</td>
    <td>{{szczepionka.name}}</td>
    <td><a [routerLink]="['/detale', szczepionka.id]">wiecej</a>
      <app-minidetal [cena]="szczepionka.details.price"> </app-minidetal>
    </td>
  </tr>
</table>

<h3 *ngIf="!szczepionki">Właśnie łąduję sczepionki...</h3>

<a [routerLink]="['/list', 'addform']" >Zapisz się</a>
<a [routerLink]="['/list', 'updateform', 19]" >Aktualizuj</a>
<router-outlet></router-outlet>
