table {
  border-collapse: collapse;
  border: 1px solid #aaa;
  width: 100%;
}


td, th, caption {
  padding: 0.5rem;
  border: 1px solid #aaa;
}

caption {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-bottom-width: 0;
  font-weight: 600;
}

tr:nth-child(odd) {
  background-color: #ff000038;
}

tr:nth-child(even) {
  background-color: #00ff0038;
}

tr:hover {
  background-color: #fff;
}

th {
  background-color: #0000ff88;;
}

