<h1>{{tytul}}</h1>

<p>
<button (click)="przelaczWidokKontrolnyFormy()">Pokaż/Schowaj stan Formy</button>
</p>

<div *ngIf="debug">
  <div>
  Wartosci formy:
  <pre>{{ forma.value | json }}</pre>
  </div>

  <div>
    Czy cala forma jest prawidlowa:
  <pre>{{ forma.valid }}</pre>
  </div>

  <div>
    Bledy pola imie:
    <pre>{{ forma.controls.imie.errors | json}}</pre>
  </div>


</div>

<form [formGroup]="forma" action="index.html" method="post" name="forma">
  <div>
    <label for="imieid">Imie</label>
    <input formControlName="imie" type="text" size="30" placeholder="np. Adam" name="imie" id="imieid" maxlength="40" accesskey="i" tabindex="1">
    <ul *ngIf="forma.controls.imie.errors != null">
      <li *ngIf="forma.controls.imie.errors.maxlength != null">
        Wpisales {{forma.controls.imie.errors.maxlength.actualLength}} a mozesz tylko
        {{forma.controls.imie.errors.maxlength.requiredLength}}
      </li>
      <li *ngIf="forma.controls.imie.errors.required != null">
        Pole wymagane
      </li>
      <li *ngIf="forma.controls.imie.errors.mabyc != null">
        {{forma.controls.imie.errors.mabyc}}
      </li>
    </ul>

  </div>
  <div>
    <label for="nazwiskoid">Nazwisko</label>
    <input formControlName="nazwisko" type="text" size="50" value="" placeholder="np. Kowalski" name="nazwisko" id="nazwiskoid" maxlength="50" accesskey="n" tabindex="2">
  </div>
  <div>
    <fieldset>
      <legend>Płeć:</legend>
      <input formControlName="plec" type="radio" id="kobietaid" value="k" name="plec">
      <label for="kobietaid">kobieta</label>
      <input formControlName="plec" type="radio" id="mezczyznaid" value="m" name="plec">
      <label for="mezczyznaid">mężczyzna</label>
    </fieldset>
    <div id="plecError" class="noerror">
      Musisz wybrac plec
    </div>
  </div>
  <div>
    <fieldset [formGroup]="forma.controls.zyczenia">
      <legend>Życzenia:</legend>
      <input formControlName="a" type="checkbox" id="zostacid">
      <label for="zostacid">chcę zostać 1 godzinę</label>
      <input formControlName="b" type="checkbox" id="potwierdzid">
      <label for="potwierdzid">chcę dostać potwierdzenie</label>
    </fieldset>
    <div id="zyczeniaError" class="noerror">
      Musisz wybrac zyczenie
    </div>
  </div>
  <div>
    <label for="typid">Typ szczepionki</label>
    <select formControlName="typ" id="typid" name="typ">
      <option [ngValue]="null" disabled selected> Wybierz </option>
      <option [ngValue]="1">Pfizer</option>
      <option [ngValue]="2">Novavax</option>
    </select>
    <div id="typError" class="noerror">
      Musisz wybrac typ
    </div>
  </div>
  <div>
    <label for="komentarzid">Komentarz</label><br>
    <textarea formControlName="komentarze" rows="10" cols="40" id="komentarzid" name="komentarze"></textarea>
  </div>
  <div>
    <input (click)="zapisz()" type="submit" value="Zapisz" [attr.disabled]="!forma.valid ? 'disabled' : null">


  </div>

</form>
